*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#f5f5f5;
}



/* TOP */





/* NAV */


.navbar{

height:70px;

background:#111;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 50px;

}



.logo{

color:#d81b60;

font-size:26px;

font-weight:bold;

letter-spacing:5px;

text-decoration:none;

}


.nav-links{

display:flex;

gap:35px;

list-style:none;

}



.nav-links a,
.nav-links li{

color:white;

text-decoration:none;

font-weight:bold;

}



.right-menu{

display:flex;

gap:20px;

}



.right-menu input{

width:300px;

border:none;

border-radius:30px;

padding:12px;

}



.cart-icon{

color:white;

position:relative;

}



.cart-icon span{

background:#d81b60;

padding:3px 7px;

border-radius:50%;

}



/* HERO */


.hero{

height:420px;


background:

linear-gradient(
90deg,
rgba(0,0,0,.5),
transparent
),
url(
"https://images.unsplash.com/photo-1529139574466-a303027c1d8b"
);


background-size:cover;

display:flex;

align-items:center;

padding-left:90px;

}



.hero-text{

color:white;

}



.hero-text h1{

font-size:55px;

}


.hero-text p{

margin:20px 0;

font-size:20px;

}



.hero button{

padding:12px 50px;

border-radius:30px;

border:none;

color:#d81b60;

font-weight:bold;

}



/* SHOP */


.shop-container{

display:flex;

padding:30px;

gap:30px;

}



.filter{

width:260px;

background:white;

padding:25px;

}


.filter label{

display:block;

margin:15px 0;

}





.sizes button{

padding:10px;

margin:5px;

}



.apply{

width:100%;

padding:12px;

background:#d81b60;

color:white;

border:none;

border-radius:20px;

}



/* PRODUCTS */


.products-area{

flex:1;

}



.products-grid{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

margin-top:20px;

}



.product-card{

background:white;

padding:20px;

text-align:center;

position:relative;

box-shadow:0 5px 15px #ddd;

}



.heart{

position:absolute;

right:20px;

font-size:25px;

}



.product-card img{

height:220px;

width:100%;

object-fit:contain;

}



.product-card h4{

color:#d81b60;

margin:10px;

}



.product-card button{

background:#d81b60;

color:white;

border:none;

padding:10px 40px;

border-radius:30px;

}
.cart-page{
padding:50px;
background:#f5f5f5;
min-height:80vh;
}


.cart-top{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;

}


.cart-top h1{

font-size:35px;

}


.cart-top button{

background:#d81b60;
color:white;
border:none;
padding:12px 30px;
border-radius:25px;

}


.cart-product{

display:flex;
align-items:center;
gap:30px;

background:white;

padding:20px;

margin-bottom:20px;

box-shadow:0 5px 15px #ddd;

}


.cart-product img{

width:160px;
height:160px;

object-fit:contain;

}



.cart-info{

flex:1;

}



.quantity{

display:flex;

gap:15px;

margin-top:20px;

}


.quantity button{

width:35px;
height:35px;

border:none;

background:#d81b60;

color:white;

border-radius:50%;

}


.remove{

background:black;

color:white;

border:none;

padding:10px;

}


.checkout{

background:white;

padding:30px;

text-align:right;

}


.checkout button{

margin:10px;

background:#d81b60;

color:white;

border:none;

padding:12px 35px;

border-radius:25px;

}



.clear{

background:#333!important;

}

.empty{

text-align:center;

padding:80px;

}